@import url(https://fonts.googleapis.com/css?family=Muli:400,300|Merriweather:400,300,700)

$background: #0bb4cf;
$accent: #e84855
$light: #ccc
$dark: #222

body
	width: 100vw
	height: 100vh
	display: table
	background: $background
	margin: 0

#container
	display: table-cell
	vertical-align: middle
	text-align: center

.content
	background: white
	padding: 1em 0 1em 0

.reaction
	display: inline-block
	position: relative
	text-align: center
	margin: 1em 0 0 0

	&:hover
		.emoji
			transform: scale(1.1, 1.1)
			transition: all .1s

		.text
			color: #222
			transition: all .1s
	

.emoji
	font-size: 4em
	cursor: pointer

.count
	position: absolute
	top: -1em
	right: 0
	border-radius: 1.75em
	min-width: 1.25em
	height: 1.75em
	font: 600 .9em "Muli", arial, sans-serif
	background: $accent
	color: white
	border: .25em solid white
	padding: 0 .25em
	cursor: pointer

.text
	font: 400 1em/2.5em "Muli", arial, sans-serif
	color: $light
	cursor: pointer

h1,
h2
	font: 700 2em/3em "Merriweather", georgia, serif
	text-align: center
	color: $dark

h2
	line-height: 1.25em
	margin: 1.5em 0 0 0

h3
	font: 300 1em/2.5em "Muli", arial, sans-serif
	text-align: center
	color: darken($light, 15%)
	margin: 0 0 2.5em 0

#modal
	position: absolute
	background: white
	border: 1px solid lighten($light, 5%)
	box-shadow: 0 0 .25em $light

.popup
	bottom: 0
	right: 0
	margin: auto
	width: 500px
	height: 275px

.tooltip
	position: absolute
	top: 26em
	left: 7.5em
	width: 275px
	font-size: .8em
	padding: 0 1em 1em 1em
	margin: 0 0 3em 0
	border-radius: 1.5em

	&:after
		display: block
		content: ""
		position: absolute
		top: .15em
		left: 0
		right: 0
		width: 0
		height: 0
		margin: auto
		border-width: .75em
		border-style: solid
		border-color: transparent transparent white white
		box-shadow: .1em -.1em .25em $light
		background: white
		transform-origin: 0 0
		transform: rotate(-45deg)
		z-index: 100 !important

	h2
		margin: .75em 0 0 0
	
	h3
		margin: .75em 0 1.5em 0
		line-height: 1.25em

	.social
		font-size: 1.75em

	.fa-close
		bottom: -.75em
		font-size: 1.25em

.fa-close
	display: inline-block
	position: absolute
	top: -.75em
	right: -.75em
	text-align: center
	text-decoration: none
	color: $dark
	background: white
	border: 1px solid lighten($light, 5%)
	border-radius: 50%
	width: 1.25em
	height: 1.25em
	padding: .25em
	cursor: pointer

.social
	font-size: 2.5em
	text-align: center

	.fa
		width: 1em
		text-decoration: none
		background: $dark
		color: white
		margin: 0 .15em
		padding: .25em
	
		&:hover
			opacity: .9
	
	.fa-facebook
		background: #3765a3
	
	.fa-twitter
		background: #6cadde

	.fa-tumblr
		background: #1c2f44

.animate
	animation: bounce .5s

.hidden
	visibility: hidden
	pointer-events: none

.settings
	font: 300 .85em "Muli", arial, sans-serif
	color: $dark
	margin: 3em 0 0 0
	padding: 1em 0 0 0

	input[type="radio"]
		display: none

	input[type="radio"] + label:before
		content: ""
		display: inline-block
		border: 2px solid $background
		width: .75em
		height: .75em
		margin: 0 .5em 0 0
		vertical-align: middle
		cursor: pointer
		border-radius: 50%

	input[type="radio"] + label:before
		background: white

	input[type="radio"]:checked + label:before
		background: $background

	label
		margin: 0 1em 0 .5em
		cursor: pointer

// Thanks to animate.css!
@keyframes bounce
	from, 20%, 40%, 60%, 80%, to
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)

	20%
		transform: scale3d(1.1, 1.1, 1.1)

	40%
		transform: scale3d(.9, .9, .9)

	60%
		transform: scale3d(1.03, 1.03, 1.03)

	80%
		transform: scale3d(.97, .97, .97)

	to
		transform: scale3d(1, 1, 1)